---
const title = 'Styling in Astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>
<body>
<h1>{title}</h1>
<h2>Contents</h2>
<ul>
    <li><a href="/css1">Just plain CSS</a></li>
    <li><a href="/sass1">Scoped style using Sass</a></li>
    <li><a href="/sass2">Using Sass modules</a></li>
</ul>
</body>
</html>
